<title>Add offer</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav  class="navbar navbar-expand-lg navbar-light"style="background: linear-gradient(to bottom right, #122b40, #5680E4, #5AB9EA , #122b40); height: 5rem" >

    <a class="navbar-brand" href="#"><img src="{{ asset('media/lancini.png') }}"  style="width: 170px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  style="width: 300px">
            <button class="btn btn-group-sm my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>

<div class="container mt-5"  style="max-width: 20rem; color: #5680E9">
    <h2 >Create a new offer</h2>
</div>
<div class="container mt-5">

    {{ form_start(form) }}
    <div class="row " >
        <div class="col">{{ form_row(form.nom) }}</div>
        <div class="col">{{ form_row(form.description)}} </div>
    </div>
    <div class="row " >
        <div class="col">{{ form_row(form.datedebut) }}</div>
        <div class="col">{{ form_row(form.datefin)}} </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Sector:</label>
        <div class="col-sm-4">
            {{ form_widget(form.secteur, {'attr': {'class': 'form-control'}}) }}
        </div>
        <label class="col-sm-2 col-form-label">User:</label>
        <div class="col-sm-4">
            {{ form_widget(form.proprietaire, {'attr': {'class': 'form-control'}}) }}
        </div>


        <a href="{{ path('addSecteur') }}" class="btn btn-sm" data-toggle="tooltip" data-placement="top"  title="do you want to add o new sector ?">Add a new sector</a>
    </div>
    <div class="col">{{ form_row(form.typeoffre) }}</div>
    <div class="col">{{ form_row(form.competence)}} </div>
    <div class="text-center"> {{ form_row(form.Create) }} </div>

    {{ form_rest(form) }}

</div>

