{% extends 'home/base.html.twig' %}


{% block body %}
<script src="{{asset('assets/js/cards.js')}}"></script>
<script src="{{ asset('assets/js/cards.js') }}"></script>

<link rel="stylesheet" href="{{asset('assets/css/cards.css')}}">
<div class="wrapper">
<div class="filter-container">

  <div class="product-container">
    {% for produit in produits %}
    <div class="product">
      <div class="product-img">
        <img  src="{{ asset('images/products/' ~ produit.image) }}" alt="{{ produit.nom }}">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>{{ produit.nom }}</h1><h6> {{produit.categorie}}</h6>
          <div class="seller-info">
            <div>
             
               <small> {{ produit.description }}</small>
            </div>
          
            <small>By {{ produit.vendeur }} {{ produit.vendeur.prenom }}</small>
          </div>
        </div>
        <div class="product-price-btn">
          <p>{{ produit.prix }} dt</p>   
<span><button style="color:white" class="buy-btn">Buy</button></span>
</form>
<button class="contact-seller-btn" data-popup="contact-seller-popup">Contact Seller</button>
<div class="contact-seller-popup">
  <p>Phone: {{ produit.vendeur.numtel }}</p>
  <p>Email: {{ produit.vendeur.email }}</p>
</div> 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
 <script>
    const contactSellerBtns = document.querySelectorAll('.contact-seller-btn');
    const contactSellerPopups = document.querySelectorAll('.contact-seller-popup');

    for (let i = 0; i < contactSellerBtns.length; i++) {
      contactSellerBtns[i].addEventListener('click', function(e) {
        e.stopPropagation();
        contactSellerPopups[i].classList.toggle('show');
      });
    }

    window.addEventListener('click', function() {
      for (let i = 0; i < contactSellerPopups.length; i++) {
        if (contactSellerPopups[i].classList.contains('show')) {
          contactSellerPopups[i].classList.remove('show');
        }
      }
    });
  </script>
<script>
  const buyBtn = document.querySelector('.buy-btn');
  buyBtn.addEventListener('click', function() {
    const confirmation = confirm('Are you sure you want to Buy this product? Your Email will be sent to the seller and they will deliver the ordered product. Stay tuned.');
    if (confirmation) {
      // send email to seller using your preferred method (e.g. email API)
    }
  });
</script>
{% endblock %}
{% block footer %}
  
{% endblock %}