{{ form_start(form) }}
    {{ form_row(form.description) }}
    {{ form_label(form.note) }}
    <div class="rateyo" data-rateyo-rating="{{ form.vars.value.note }}" data-rateyo-num-stars="5"></div>
    {{ form_row(form.note, { 'attr': { 'class': 'd-none' } }) }}
    {{ form_row(form.date) }}
    {{ form_row(form.idProduit) }}
    {{ form_row(form.idevaluateuruser) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $('.rateyo').rateYo({
            fullStar: true,
            rating: $(this).data('rateyo-rating'),
            numStars: $(this).data('rateyo-num-stars')
        });
    </script>
{% endblock %}
