

{% block body %}
<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/tvfhipxl.json"
    trigger="loop"
    delay="2000"
    style="width:150px;height:120px">
</lord-icon>
    <h1>FEEDBACKS</h1>
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/indexav.css') }}">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Rate</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.description }}</td>
                <td>{{ avi.note }}</td>
                <td>{{ avi.date ? avi.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a>
    <footer class="bg-info text-center text-white py-2">
  <p>&copy; 2023 Lancini. All rights reserved to Code Crafters <3.</p>
</footer>

{% endblock %}
