{% extends 'admin/base.html.twig' %}

{% block title %}CVs{% endblock %}

{% block body %}
    <h1>CVs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Datenaissance</th>
                <th>Photo</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Langue</th>
                <th>Education</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cv in cvs %}
            <tr>
                <td>{{ cv.cin }}</td>
                <td>{{ cv.nom }}</td>
                <td>{{ cv.prenom }}</td>
                <td>{{ cv.sexe }}</td>
                <td>{{ cv.datenaissance ? cv.datenaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>
  <img style="width: 100px; height: 100px; border-radius: 50%; margin: 50px auto; display: block;" src="{{ asset('uploads/' ~ cv.photo) }}" alt=""/></td>
                <td>{{ cv.adresse }}</td>
                <td>{{ cv.email }}</td>
                <td>{{ cv.langue }}</td>
                <td>{{ cv.education }}</td>
                <td>
                    <a href="{{ path('admin_cv_show', {'idcv': cv.idcv}) }}">show</a>

    {{ include('cvAdmin/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
