{% block body %}
    <h1>Products List</h1>
{% block stylesheets %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



{% endblock %}
<div class="container-md">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Category</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.idproduit }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.image }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.date ? produit.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                <div class="d-flex justify-content-between align-items-center">
    
    <form method="post" action="{{ path('app_produit_delete', {'idproduit': produit.idproduit}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.idproduit) }}">
        <a href="{{ path('app_produit_show', {'idproduit': produit.idproduit}) }}" class="btn btn-primary mr-2">Show</a>
        <a href="{{ path('app_produit_edit', {'idproduit': produit.idproduit}) }}" class="btn btn-warning mr-2">Edit</a>
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

</form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_produit_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
