<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block title %}
			<title>Skydash Admin</title>
		{% endblock %}
		<!-- plugins:css -->

		<link rel="stylesheet" href="{{ asset('admin/vendors/feather/feather.css') }}">
		<link rel="stylesheet" href="{{ asset('admin/vendors/ti-icons/css/themify-icons.css') }}">
		<link rel="stylesheet" href="{{ asset('admin/vendors/css/vendor.bundle.base.css') }}">
		<!-- endinject -->
		<!-- Plugin css for this page -->
		<link rel="stylesheet" href="{{ asset('admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}"> <link rel="stylesheet" href="{{ asset('admin/vendors/ti-icons/css/themify-icons.css') }}">
		<link rel="stylesheet" type="admin/text/css" href="{{ asset('admin/js/select.dataTables.min.css') }}">
		<!-- End plugin css for this page -->
		<!-- inject:css -->
		<link
		rel="stylesheet" href="{{ asset('admin/css/vertical-layout-light/style.css') }}"> <!-- endinject -->
		<link rel="shortcut icon" href="{{ asset('admin/images/favicon.png') }}"/> {% block stylesheet %}{% endblock %}
		</head>
		<body>
			<div class="container-fluid page-body-wrapper" bis_skin_checked="1">
				<div class="container-scroller">
					<div class="theme-setting-wrapper" bis_skin_checked="1">
						<div id="settings-trigger" bis_skin_checked="1">
							<i class="ti-settings"></i>
						</div>
						<div id="theme-settings" class="settings-panel" bis_skin_checked="1">
							<i class="settings-close ti-close"></i>
							<p class="settings-heading">SIDEBAR SKINS</p>
							<div class="sidebar-bg-options selected" id="sidebar-light-theme" bis_skin_checked="1">
								<div class="img-ss rounded-circle bg-light border mr-3" bis_skin_checked="1"></div>Light</div>
							<div class="sidebar-bg-options" id="sidebar-dark-theme" bis_skin_checked="1">
								<div class="img-ss rounded-circle bg-dark border mr-3" bis_skin_checked="1"></div>Dark</div>
							<p class="settings-heading mt-2">HEADER SKINS</p>
							<div class="color-tiles mx-0 px-4" bis_skin_checked="1">
								<div class="tiles success" bis_skin_checked="1"></div>
								<div class="tiles warning" bis_skin_checked="1"></div>
								<div class="tiles danger" bis_skin_checked="1"></div>
								<div class="tiles info" bis_skin_checked="1"></div>
								<div class="tiles dark" bis_skin_checked="1"></div>
								<div class="tiles default" bis_skin_checked="1"></div>
							</div>
						</div>
					</div>
				</div>

				<div id="right-sidebar" class="settings-panel" bis_skin_checked="1">
					<i class="settings-close ti-close"></i>
					<ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
						</li>
					</ul>
					<div class="tab-content" id="setting-content" bis_skin_checked="1">
						<div class="tab-pane fade show active scroll-wrapper ps ps--active-y" id="todo-section" role="tabpanel" aria-labelledby="todo-section" bis_skin_checked="1">
							<div class="add-items d-flex px-3 mb-0" bis_skin_checked="1">
								<form class="form w-100">
									<div class="form-group d-flex" bis_skin_checked="1">
										<input type="text" class="form-control todo-list-input" placeholder="Add To-do">
										<button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
									</div>
								</form>
							</div>
							<div class="list-wrapper px-3" bis_skin_checked="1">
								<ul class="d-flex flex-column-reverse todo-list">
									<li>
										<div class="form-check" bis_skin_checked="1">
											<label class="form-check-label">
												<input class="checkbox" type="checkbox">
												Team review meeting at 3.00 PM
												<i class="input-helper"></i>
											</label>
										</div>
										<i class="remove ti-close"></i>
									</li>
									<li>
										<div class="form-check" bis_skin_checked="1">
											<label class="form-check-label">
												<input class="checkbox" type="checkbox">
												Prepare for presentation
												<i class="input-helper"></i>
											</label>
										</div>
										<i class="remove ti-close"></i>
									</li>
									<li>
										<div class="form-check" bis_skin_checked="1">
											<label class="form-check-label">
												<input class="checkbox" type="checkbox">
												Resolve all the low priority tickets due today
												<i class="input-helper"></i>
											</label>
										</div>
										<i class="remove ti-close"></i>
									</li>
									<li class="completed">
										<div class="form-check" bis_skin_checked="1">
											<label class="form-check-label">
												<input class="checkbox" type="checkbox" checked="">
												Schedule meeting for next week
												<i class="input-helper"></i>
											</label>
										</div>
										<i class="remove ti-close"></i>
									</li>
									<li class="completed">
										<div class="form-check" bis_skin_checked="1">
											<label class="form-check-label">
												<input class="checkbox" type="checkbox" checked="">
												Project review
												<i class="input-helper"></i>
											</label>
										</div>
										<i class="remove ti-close"></i>
									</li>
								</ul>
							</div>
							<h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
							<div class="events pt-4 px-3" bis_skin_checked="1">
								<div class="wrapper d-flex mb-2" bis_skin_checked="1">
									<i class="ti-control-record text-primary mr-2"></i>
									<span>Feb 11 2018</span>
								</div>
								<p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
								<p class="text-gray mb-0">The total number of sessions</p>
							</div>
							<div class="events pt-4 px-3" bis_skin_checked="1">
								<div class="wrapper d-flex mb-2" bis_skin_checked="1">
									<i class="ti-control-record text-primary mr-2"></i>
									<span>Feb 7 2018</span>
								</div>
								<p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
								<p class="text-gray mb-0 ">Call Sarah Graves</p>
							</div>
							<div class="ps__rail-x" style="left: 0px; bottom: 0px;" bis_skin_checked="1">
								<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;" bis_skin_checked="1"></div>
							</div>
							<div class="ps__rail-y" style="top: 0px; height: 750px; right: 0px;" bis_skin_checked="1">
								<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 627px;" bis_skin_checked="1"></div>
							</div>
						</div>
						<!-- To do section tab ends -->
						<div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section" bis_skin_checked="1">
							<div class="d-flex align-items-center justify-content-between border-bottom" bis_skin_checked="1">
								<p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
								<small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
							</div>
							<ul class="chat-list">
								<li class="list active">
									<div class="profile" bis_skin_checked="1"><img src="admin/images/faces/face1.jpg" alt="image"><span class="online"></span>
									</div>
									<div class="info" bis_skin_checked="1">
										<p>Thomas Douglas</p>
										<p>Available</p>
									</div>
									<small class="text-muted my-auto">19 min</small>
								</li>
								<li class="list">
									<div class="profile" bis_skin_checked="1"><img src="admin/images/faces/face2.jpg" alt="image"><span class="offline"></span>
									</div>
									<div class="info" bis_skin_checked="1">
										<div class="wrapper d-flex" bis_skin_checked="1">
											<p>Catherine</p>
										</div>
										<p>Away</p>
									</div>
									<div class="badge badge-success badge-pill my-auto mx-2" bis_skin_checked="1">4</div>
									<small class="text-muted my-auto">23 min</small>
								</li>
								<li class="list">
									<div class="profile" bis_skin_checked="1"><img src="admin/images/faces/face3.jpg" alt="image"><span class="online"></span>
									</div>
									<div class="info" bis_skin_checked="1">
										<p>Daniel Russell</p>
										<p>Available</p>
									</div>
									<small class="text-muted my-auto">14 min</small>
								</li>
								<li class="list">
									<div class="profile" bis_skin_checked="1"><img src="admin/images/faces/face4.jpg" alt="image"><span class="offline"></span>
									</div>
									<div class="info" bis_skin_checked="1">
										<p>James Richardson</p>
										<p>Away</p>
									</div>
									<small class="text-muted my-auto">2 min</small>
								</li>
								<li class="list">
									<div class="profile" bis_skin_checked="1"><img src="admin/images/faces/face5.jpg" alt="image"><span class="online"></span>
									</div>
									<div class="info" bis_skin_checked="1">
										<p>Madeline Kennedy</p>
										<p>Available</p>
									</div>
									<small class="text-muted my-auto">5 min</small>
								</li>
								<li class="list">
									<div class="profile" bis_skin_checked="1"><img src="admin/images/faces/face6.jpg" alt="image"><span class="online"></span>
									</div>
									<div class="info" bis_skin_checked="1">
										<p>Sarah Graves</p>
										<p>Available</p>
									</div>
									<small class="text-muted my-auto">47 min</small>
								</li>
							</ul>
						</div>
						<!-- chat tab ends -->
					</div>
				</div>

				{% block navsidebar %}
					<nav class="sidebar sidebar-offcanvas" id="sidebar">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_user_index') }}">
									<i class="icon-grid menu-icon"></i>
									<span class="menu-title">User</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" href="{{ path('app_experience_index') }}" aria-expanded="false" aria-controls="ui-basic">
									<i class="icon-layout menu-icon"></i>
									<span class="menu-title">Experience</span>
								</a>
								<div class="collapse" id="ui-basic">
									<ul class="nav flex-column sub-menu">
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/ui-features/buttons.html">Buttons</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/ui-features/dropdowns.html">Dropdowns</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/ui-features/typography.html">Typography</a>
										</li>
									</ul>
								</div>
							{# </li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
									<i class="icon-columns menu-icon"></i>
									<span class="menu-title">Form elements</span>
									<i class="menu-arrow"></i>
								</a>
								<div class="collapse" id="form-elements">
									<ul class="nav flex-column sub-menu">
										<li class="nav-item">
											<a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
									<i class="icon-bar-graph menu-icon"></i>
									<span class="menu-title">Charts</span>
									<i class="menu-arrow"></i>
								</a>
								<div class="collapse" id="charts">
									<ul class="nav flex-column sub-menu">
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/charts/chartjs.html">ChartJs</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
									<i class="icon-grid-2 menu-icon"></i>
									<span class="menu-title">Tables</span>
									<i class="menu-arrow"></i>
								</a>
								<div class="collapse" id="tables">
									<ul class="nav flex-column sub-menu">
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/tables/basic-table.html">Basic table</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
									<i class="icon-contract menu-icon"></i>
									<span class="menu-title">Icons</span>
									<i class="menu-arrow"></i>
								</a>
								<div class="collapse" id="icons">
									<ul class="nav flex-column sub-menu">
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/icons/mdi.html">Mdi icons</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
									<i class="icon-head menu-icon"></i>
									<span class="menu-title">User Pages</span>
									<i class="menu-arrow"></i>
								</a>
								<div class="collapse" id="auth">
									<ul class="nav flex-column sub-menu">
										<li class="nav-item">
											<a class="nav-link" href="{{ path('app_user_index') }}">
												Users
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="{{ path('app_experience_index') }}">
												Experiences
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
									<i class="icon-ban menu-icon"></i>
									<span class="menu-title">Error pages</span>
									<i class="menu-arrow"></i>
								</a>
								<div class="collapse" id="error">
									<ul class="nav flex-column sub-menu">
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/samples/error-404.html">
												404
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="admin/pages/samples/error-500.html">
												500
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="admin/pages/documentation/documentation.html">
									<i class="icon-paper menu-icon"></i>
									<span class="menu-title">Documentation</span>
								</a>
							</li> #}
						</ul>
					</nav>
				{% endblock %}

				<div class="main-panel" bis_skin_checked="1">
					<div class="content-wrapper" bis_skin_checked="1"> {% block body %}{% endblock %}
						</div>
					</div>
				</div>
			</body>
		</html>
	</div>

	{% block js %}
		<!-- plugins:js -->
		<script src="admin/vendors/js/vendor.bundle.base.js"></script>
		<!-- endinject -->
		<!-- Plugin js for this page -->
		<script src="admin/vendors/chart.js/Chart.min.js"></script>
		<script src="admin/vendors/datatables.net/jquery.dataTables.js"></script>
		<script src="admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
		<script src="admin/js/dataTables.select.min.js"></script>

		<!-- End plugin js for this page -->
		<!-- inject:js -->
		<script src="admin/js/off-canvas.js"></script>
		<script src="admin/js/hoverable-collapse.js"></script>
		<script src="admin/js/template.js"></script>
		<script src="admin/js/settings.js"></script>
		<script src="admin/js/todolist.js"></script>
		<!-- endinject -->
		<!-- Custom js for this page-->
		<script src="admin/js/dashboard.js"></script>
		<script src="admin/js/Chart.roundedBarCharts.js"></script>
		<!-- End custom js for this page-->
	{% endblock %}
</body>
