


{% block body %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{ asset('assets/js/form.js') }}"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    <h1 class="h1">Sales List</h1>

    <table class="table table-striped">
    <thead class="thead-dark">
            <tr>
                <th>Sale ID</th>
                <th>Date</th>
                <th>Amount paid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idCommande }}</td>
                <td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.montantpaye }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_commande_show', {'idCommande': commande.idCommande}) }}" class="btn btn-primary">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_commande_edit', {'idCommande': commande.idCommande}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_commande_new') }}" class="btn btn-secondary">Create new</a>

{% endblock %}
