{% extends 'home/base.html.twig' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="stylesheet" href="{{ asset('css/checkout.css') }}">
        <title>Checkout</title>
        
    </head>
    <body>
      <div class="container">
        <form action="{{ path('pay', {'idProduit': produit.idProduit}) }}" method="POST">
            <script src="https://js.stripe.com/v3/"></script>
            <input type="hidden" name="amount" value="{{ amount ?? '' }}">
            <input type="hidden" name="stripeToken" value="{{ stripeToken ?? '' }}">
            <input type="hidden" name="currency" value="usd">
          
         <div class="form-group">
  <div class="g-recaptcha" data-sitekey="6Le7AaMlAAAAAAsuzvgBUoPBavgIzTbo9t42cbBt" data-callback="enableCheckoutButton"></div>
  <button id="checkout-button" disabled>Complete Payment process to get download link</button>
</div>

        </form>
           </div>
        <script>
            var stripe = Stripe('{{ stripePublicKey ?? ''}}');
            var sessionId = '{{ sessionId ?? '' }}';

            var checkoutButton = document.getElementById('checkout-button');

            function enableCheckoutButton() {
                checkoutButton.removeAttribute('disabled');
            }

            checkoutButton.addEventListener('click', function() {
                stripe.redirectToCheckout({
                    sessionId: sessionId
                }).then(function(result) {
                    console.log(result.error.message);
                });
            });
        </script>

    </body>
</html>
{% endblock %}
