{% extends 'home/base.html.twig' %}
{% block body %}
	<style>
		.form-control {
			display: block;
			font-size: 20px;
			margin: 20px;
			padding-bottom: 20px;
		}

		.radio-choice {
			display: block;
		}
	</style>
	<h1>{{ test.nomtest }}
		TEST</h1>

	{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

	{# <pre>
						        {{ dump(form.vars.data) }}
						    </pre> #}
	<div>
		<ol>
			{% set n = form.vars.data %}
			{% for i in 1..n|length %}
				<li>
					{{ form_label(form['answer_' ~ i], null, {'label_attr': {'class': 'form-label'}}) }}
				</li>
				<div class="radio-choice">
					{{ form_widget(form['answer_' ~ i], {'attr': {'class': 'form-control'}}) }}
				</div>
				<div style="color: red; font-size: 18px;">
					{{ form_errors(form['answer_' ~ i], {'attr': {'class': 'form-control'}}) }}
				</div>
			{% endfor %}
		</ol>
	</div>
	<button type="submit" class="btn btn-primary">End Test</button>
	{{ form_end(form) }}
{% endblock %}
