{% extends 'template.html.twig' %}

{% block title %}Pass Test{% endblock %}

{% block body %}
    <h1>Pass new Test</h1>

    <ol>
    {% for quiz in test.quizzes %}
        <li>
            {{ quiz.question }}
            <ol>
                <li>{{ quiz.reponsecorrecte }}</li>
                <li>{{ quiz.reponsefausse1 }}</li>
                <li>{{ quiz.reponsefausse2 }}</li>
                <li>{{ quiz.reponsefausse3 }}</li>
            </ol>
        </li>
    {% endfor %}
    </ol>

    {# {{ include('test/_form.html.twig') }} #}

    <a href="{{ path('app_test_index') }}">back to list</a>
{% endblock %}
