{% extends 'template.html.twig' %}

{% block title %}Test Result
{% endblock %}

{% block body %}

	<!--Test Section-->
	<section id="test" class="pricing lightbg">
		<div class="container">
			<div class="row">
				<div class="main_pricing roomy-100">
					<div class="col-md-8 col-md-offset-2 col-sm-12">
						<div class="head_title text-center">
							<h2 style="text-transform: uppercase">{{ test.nomtest }}</h2>
							<div class="separator_auto"></div>
							<div class="pricing_price_border text-center">
								<div class="pricing_price">
									<h3 class="text-white">Difficulté:
										<span style="font-size: 32px;">{{ test.difficulte }}</span>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div style="margin: 20px 0; border-top: 1px solid #58d8a3; border-bottom: 1px solid #58d8a3" class="col-md-12 col-sm-12">
						<div class="pricing_item">
							<div style="margin-bottom: 50px;" class="pricing_head p-top-30 p-bottom-100 text-center">
								<h3 style="text-transform: uppercase;" class="text-uppercase">

									<p style="font-weight: bold;">
                                    {# Your score: #}
										{# <span style="font-size: 38px;">{{ (score/total)*100|number_format(2, '.', '') ~ '%' }}</span> #}

										{% for message in app.flashes('succes') %}
											<div class="alert alert-success ">
												{{ message }}
											</div>
										{% endfor %}

										{% for message in app.flashes('danger') %}
											<div class="alert alert-danger ">
												{{ message }}
											</div>
										{% endfor %}
										<br>
										{% if score/total > 1/2 %}
											<span style="color: green;">you passed the test, and you've earned yourself a
												{{ badge.nombadge }}</span>
										{% else %}
											<span style="color: red;">unfortunately you didn't make it. good luck next time.</span>
										{% endif %}

									</p>
								</h3>
							</div>

							<div style="display: flex;" class="pricing_body bg-white p-top-110 p-bottom-60">
								<ul style="display: block; font-size: 22px;">
									{% for result in results %}
										<li style="display: block;">
											{% if result.correct %}
												<strong style="color: green;">Correct:</strong>
											{% else %}
												<strong style="color: red;">Incorrect:</strong>
											{% endif %}
											{{ result.quiz }}
											- Your answer:
											{{ result.answer }}
											{% if not result.correct %}, Correct answer:
												{{ result.quiz.reponseCorrecte }}
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="pricing_btn text-center m-top-40">
						<a href="{{ path('app_test_index') }}" style="text-transform: uppercase;" class="btn btn-primary">PASSER un autre test</a>
					</div>

				</div>
			</div>
			<!--End off row-->
		</div>
		<!--End off container -->
	</section>
	<!--End off Test section -->
{% endblock %}
