{% extends 'admin/base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <h1>Test</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nomtest</th>
                <td>{{ test.nomtest }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ test.difficulte }}</td>
            </tr>
            <tr>
                <th>Questions</th>
                <td>
                <ol>
                {% for quiz in test.quizzes %}
                    <li>{{ quiz.question }}</li>
                {% endfor %}
                </ol>
                </td>
        </tbody>
    </table>

    <a href="{{ path('admin_test_index') }}">back to list</a>

    <a href="{{ path('admin_test_edit', {'id': test.id}) }}">edit</a>

    {{ include('testAdmin/_delete_form.html.twig') }}
{% endblock %}
